.form-as-btn
	display: inline-block


.workout-mobile

	&__title
		background-color: hsl(119, 68%, 39%)
		color: white
		font-size: 12px
		font-weight: normal
		line-height: 1em
		margin: 0
		padding: 6px 15px 4px 15px

	&__excercise
		padding-left: 36px

		&__title
			margin-bottom: 2px

	&__counter
		color: gray
		font-size: 12px
		position: absolute
		left: -20px

	&__muscles

		&__ul
			color: hsl(0, 0%, 70%)
			font-size: 12px
			line-height: 1.4em
			list-style-type: none
			margin-bottom: 0
			margin-top: 5px
			padding-left: 0

			li
				display: inline
				padding: 3px 3px 3px 0

				&:first-child
					font-weight: bold

	&__WRT
		font-size: 12px

	&__weight
		padding-right: 5px
