.container.section-padding

	= form_for @measurement do |f|

		.form-group
			= f.label      :created_at, nil, class: :required
			= f.date_field :created_at, required: :true, class: "form-control", placeholder: "2015-05-28"

		.form-group
			= f.label             :marker_id, nil, class: :required
			= f.collection_select :marker_id, HealthMarker.all, :id, :name_en, { prompt: true }, required: true, class: "form-control"
			= tag.small link_to("Create a #{f.object.class.model_name.human.downcase}", new_health_marker_path, target: "_blank"), class: "form-text text-muted" if HealthMarker.count.zero?

		.form-group
			= f.label        :value, nil, class: :required
			= f.number_field :value, required: true, step: 0.1, class: "form-control"

		.form-group
			= f.label             :lab_id, nil, class: :required
			= f.collection_select :lab_id, Lab.all, :id, :name, { prompt: true }, required: true, class: "form-control"

		= render "application/form_errors", record: f.object
		.form-actions = save_btn(f)
