.navbar
	h1
		color: white
		font-size: 16px
		font-weight: normal
		line-height: 1em
		margin: 0

.btn-navbar-create
	color: white
	margin-right: auto
	padding: 0 10px

	&:hover, &:focus, &:active
		color: white
